<footer>
    <section class="first-section">
        <div class="footer-first-part">
            <p>
                Ready to elevate your business?
            </p>
            <h1>
                LET ME TAKE CARE OF YOUR WEBSITE
            </h1>
        </div>

        <div class="call-to-action">
            <a href="">kontakt&#64;emirhan-kilic.de</a>
            <div>
                <button mat-stroked-button>Call to Action</button>
                <button mat-stroked-button class="button-arrow"><mat-icon class="first-arrow">east</mat-icon><mat-icon
                        class="second-arrow">east</mat-icon></button>
            </div>
        </div>
    </section>

    <section class="second-section">
        <div class="logo">
            YOUR LOGO
        </div>
        <div class="links">
            <a href="">About</a>
            <a href="">Pricing</a>
            <a href="">Testimonials</a>
            <a href="">FAQs</a>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/"><img src="assets/instagram_icon.png" alt="#Instagram"></a>
            <a href="https://www.linkedin.com/in/emirhan-kilic-a16461265/"><img src="assets/linkedin.png" alt="#LinkedIn"></a>
            <a href="https://github.com/EmiKilic"><img src="assets/globe.png" alt="#GitHub"></a>
        </div>
    </section>

    <section class="third-section">
        <div class="rights">
        © 2024-2025 Emirhan Kilic. All rights reserved.
        </div>
        <a>
            Privacy Policy
        </a>
    </section>
</footer>