section {
    position: absolute;
    display: flex;
    max-width: 100%;
    width: auto;
    left: 0;
    overflow: hidden; /* Ensures the text outside the section is not visible */
    white-space: nowrap; /* Prevents wrapping of text */
  }
  .carousel {
    display: flex;
    white-space: nowrap; /* Prevent wrapping */
    animation: scroll 400s linear infinite; /* Adjust timing for speed */
  }
  section p {
    color: #b9b9b9;
    font-size: 24px;
    overflow: hidden;
    padding-right: 100px;
    display: inline-block; /* Ensures each <p> behaves as a single block */
    margin: 0; /* Removes any default margin */
    flex-shrink: 0;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start at the default position */
    }
    100% {
      transform: translateX(-100%); /* Scroll the entire width of the section */
    }
  }