<section>
    <mat-card>
        <h4>FREQUENTLY ASKED QUESTIONS</h4>
        <h2>FIND YOUR ANSWERS</h2>
        <p>I’ve compiled some of the most common questions about my work and projects. Whether you're curious about my
            approach or technical details, you’ll find the answers here. If you still have questions, feel free to reach
            out!</p>
        <div class="call-to-action">
            <button mat-stroked-button>Call to Action</button>
            <button mat-stroked-button class="button-arrow"><mat-icon class="first-arrow">east</mat-icon><mat-icon
                    class="second-arrow">east</mat-icon></button>
        </div>
    </mat-card>

    <mat-card class="section">
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> How long does it take to complete a project? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The timeline depends on the complexity and scope of the project. On average, smaller projects take 2–4
                weeks, while larger projects may take several months.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Do you offer responsive design for mobile and tablet? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes! I ensure that every project I create is fully responsive and works seamlessly across all devices and
                screen sizes.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Can I request changes after the project is delivered? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Absolutely. I offer post-launch support for revisions and updates to make sure the final product aligns
                with your expectations.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> What technologies do you use for your projects? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I primarily work with Angular, TypeScript, JavaScript, Firebase, HTML, and CSS. However, I’m always open
                to exploring new tools if the project requires it.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> How do you handle project feedback and revisions? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I believe in open communication and iterative feedback. After presenting drafts or milestones, I welcome
                feedback and make revisions accordingly to ensure the project meets your needs.</p>
        </mat-expansion-panel>
    </mat-card>
</section>