<section>
    <mat-card>
        <h4>FREQUENTLY ASKED QUESTIONS</h4>
        <h2>FIND YOUR ANSWERS</h2>
        <p>I’ve compiled some of the most common questions about my work and projects. Whether you're curious about my
            approach or technical details, you’ll find the answers here. If you still have questions, feel free to reach
            out!</p>
        <div class="call-to-action">
            <a href="https://emirhan-kilic.de/#footer">
                <button mat-stroked-button>Call to Action</button>
                <button mat-stroked-button class="button-arrow"><mat-icon class="first-arrow">east</mat-icon><mat-icon
                        class="second-arrow">east</mat-icon></button></a>
        </div>
    </mat-card>

    <mat-card class="section">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of faqItems; let i = index" [expanded]="openedPanelIndex === i" (opened)="onPanelOpened(i)">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ item.question }} </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ item.answer }}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</section>
