<section>
    <mat-card>
        <h4>INSERT STUDIO LOCATION OR TAGLINE HERE</h4>
        <h2>YOUR CATCHY HEADLINE GOES HERE</h2>
        <p>Provide a detailed explanation of your services, goals, or value proposition. This is the perfect place to
            highlight what makes your business unique.</p>
        <div class="call-to-action">
            <button mat-stroked-button>Call to Action</button>
            <button mat-stroked-button class="button-arrow"><mat-icon class="first-arrow">east</mat-icon><mat-icon
                    class="second-arrow">east</mat-icon></button>
        </div>
    </mat-card>

    <mat-card class="section">
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="layout" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
    </mat-card>
</section>