<section>
    <div class="left-part">
        <mat-card class="height">
            <h4>HOW I BRING IDEAS TO LIFE</h4>
            <h2>A CLEAR; CREATIVE PROCESS</h2>
            <p>Every project I create follows a structured approach to ensure exceptional results. From the initial idea
                to the final launch, each step builds on the last to deliver a seamless and impactful experience. Here's
                an overview of the process that drives my work forward.</p>
            <div class="call-to-action">
                <button mat-stroked-button>Call to Action</button>
                <button mat-stroked-button class="button-arrow"><mat-icon class="first-arrow">east</mat-icon><mat-icon
                        class="second-arrow">east</mat-icon></button>
            </div>
        </mat-card>
        <img class="mockup" src="assets/mockup_2.jpg" alt="">
    </div>
    <div>
        <mat-card class="steps">
            <div class="topper">
                <mat-card class="counter">1</mat-card>
                <div>
                    <h4>DESIGN & STRUCTURE</h4>
                    <h2>CRAFTING THE BLUEPRINT</h2>
                </div>
            </div>
            <p>With a solid idea in place, I design wireframes and layouts that guide the project’s structure. I ensure
                an intuitive user experience and a cohesive visual style across all pages.</p>
        </mat-card>
        <mat-card class="steps">
            <div class="topper">
                <mat-card class="counter">2</mat-card>
                <div>
                    <h4>DEVELOPMENT & IMPLEMENTATION</h4>
                    <h2>CODING WITH PRECISION</h2>
                </div>
            </div>
            <p>In this phase, I bring the designs to life using clean, responsive code. I implement animations,
                interactions, and ensure cross-platform compatibility for a seamless experience.</p>
        </mat-card> <mat-card class="steps">
            <div class="topper">
                <mat-card class="counter">3</mat-card>
                <div>
                    <h4>REVIEW & LAUNCH</h4>
                    <h2>POLISHING & PUBLISHING</h2>
                </div>
            </div>
            <p>After testing and refining every detail, I finalize the project and ensure everything runs smoothly. I’m
                dedicated to continuous improvement and open to feedback for future enhancements.</p>
        </mat-card> <mat-card class="steps">
            <div class="topper">
                <mat-card class="counter">4</mat-card>
                <div>
                    <h4>INSERT STUDIO LOCATION OR TAGLINE</h4>
                    <h2>YOUR CATCHY HEADLINE GOES HERE</h2>
                </div>
            </div>
            <p>Provide a detailed explanation of your services, goals, or value proposition. This is the perfect place
                to highlight what makes your business unique.</p>
        </mat-card>
    </div>
</section>