section {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 100px;
    max-width: 1440px;
    
    mat-card {
        width: 100%;
        height: 80vh;
        background-color: #1E1E1E;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 36px;

        h4 {
            font-size: 24px;
            color: #C4BEFF;
            font-weight: 400;
        }

        h2 {
            font-size: 36px;
            font-weight: 400;
            color: white;
            margin: 0;
        }

        p {
            width: 90%;
            font-size: 20px;
            color: #b9b9b9;
            font-weight: 400;
        }

        .call-to-action {
            button {
                border: 1px solid #C4BEFF;
                background-color: #C4BEFF;
                color: #1E1E1E;
                font-size: 18px;
                height: 48px;
                width: 198px;
                border-radius: 10px;
                margin-right: 5px;
            }

            .button-arrow {
                width: 60px;
                padding: 0px;
                color: #C4BEFF;
                background-color: #1E1E1E;
                overflow: hidden;

                mat-icon {
                    overflow: hidden;
                    width: 200px;
                    margin: 0;
                    display: flex;
                    left: -8px;
                }

                .first-arrow {
                    left: -37px !important;
                }

            }

            &:hover {
                button {
                    color: #C4BEFF;
                    background-color: #1E1E1E;
                    transition: 0.5s;

                }

                .button-arrow {
                    background-color: transparent;

                    mat-icon {
                        animation: moveArrow 0.2s linear forwards;
                    }
                }
            }

            &:not(:hover) mat-icon {
                animation: moveArrowBack 0.2s linear forwards;
            }
        }
    }
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(60px);
    }

}

@keyframes moveArrowBack {
    0% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0);
    }
}

.section {
    display: flex;
    flex-direction: column !important;
    max-width: 1440px;
    align-items: center !important;
    width: 100%;
    justify-content: space-around !important;
    overflow: hidden; /* Hide overflowing content */
  }
  
  .carousel-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; /* Two rows stacked vertically */
    height: 90%;
  }
  
  .carousel {
    display: flex; /* Ensure items are in a row */
    flex-wrap: nowrap;
    gap: 16px;
    height: 45%;
    animation: scroll 60s linear infinite; /* Smooth scrolling animation */
  }
  
  .reverse {
    animation-direction: reverse; /* Make the second row scroll in reverse for a cool effect */
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: auto; /* Set desired width */
    height: 100%; /* Set desired height */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional rounded corners */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  @media (max-width: 1400px) {
    section {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    mat-card {
        width: 90vw;
        height: 500px;
    }
    }
  }
    @media (max-width: 768px) {
    section {
      .call-to-action {
        button {
          width: 120px;
          height: 36px;
        }
      }
  
      .carousel-row {
        height: 70%;

      }
    }
  }
  
  @media (max-width: 576px) {
    section {
      mat-card {
            height: 400px;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      .call-to-action {
        flex-direction: column;
        align-items: center;
        button {
          width: 100%; /* Buttons über die gesamte Breite */
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    section {
      .call-to-action {
        button {
          display: none; /* Buttons werden ausgeblendet */
        }
      }
    }
  }
  
  @media (max-width: 320px) {
    section {
      mat-card {
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  