<main>
	<ul id="cards">
		<li class="card" id="card_1">
			<div class="card__content">
				<div>
					<h2>Card One</h2>
					<h3>HEADLINE</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla placeat culpa iste ex reiciendis libero aliquid laborum. Obcaecati eos nemo reiciendis dolores, corrupti officiis saepe labore. Doloribus, pariatur quaerat.</p>
					<button class="btn">Read more</button>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-1.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_2">
			<div class="card__content">
				<div>
					<h2>Card Two</h2>
					<h3>HEADLINE</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, vero. Iure, sapiente pariatur vitae repellendus et, sequi error voluptas fuga soluta incidunt est a fugiat placeat laborum aut ut. Doloribus.</p>
					<button class="btn">Read more</button>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_3">
			<div class="card__content">
				<div>
					<h2>Card Three</h2>
					<h3>HEADLINE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, sequi ipsam necessitatibus itaque debitis, consequatur ex quibusdam ducimus dolores mollitia ullam quis. Accusamus iure, dolorem aliquam ab aspernatur odit maiores?</p>
					<button class="btn">Read more</button>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-3.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_4">
			<div class="card__content">
				<div>
					<h2>Card Four</h2>
					<h3>HEADLINE</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, corrupti, dolores recusandae ipsam magnam qui, doloremque voluptatum quasi dolore aut modi. Odit odio inventore asperiores, placeat nisi beatae totam fugit.</p>
					<button class="btn">Read more</button>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
	</ul>
</main>